html {
    overflow: -moz-scrollbars-vertical;
    overflow-y: scroll;
}

center {
	background-color: #fffcfc;
}

@media only screen and (max-width: 767px) { /* extra padding on mobile */
	body {
	}
}

body {
	font-size: 1.3em;
}

h1 {
	padding: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: 1.8em;
}

.absolute {
	position: absolute !important;
}
.fixed  {
	position: fixed !important;
}

.container {
	display: inline-block;
}
.page-content-container {
	padding: 20px;
	z-index: -1;
}

.nav-buffer {
	padding-bottom: 80px;
	/* margin-bottom: 80px; */
	background-color: #fffcfc;
	opacity: 1;
}
@media only screen and (max-width: 767px) { /* controls padding of content after nav */
	.nav-buffer {
		padding-top: 12px !important;
	}
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.nav-buffer {
		padding-top: 0px !important;
	}
}

@media only screen and (min-width: 768px) { /* navbar is fixed on desktop */
	.nav-container {
		z-index: 2;
		overflow: hidden;
	  background-color: #fffcfc;
		opacity: 1;
	  position: fixed; /* Set the navbar to fixed position */
	  top: 0; /* Position the navbar at the top of the page */
	  width: 100%; /* Full width */
		padding-top: 5px;
		padding-bottom: 5px;
		border-bottom: 1px solid black;
	}
}
@media only screen and (max-width: 767px) { /* navbar is absolute on mobile */
	.nav-container {
		z-index: 2;
		overflow: hidden;
	  background-color: #fffcfc;
		opacity: 1;
	  position: absolute; /* Set the navbar to absolute position */
	  top: 0; /* Position the navbar at the top of the page */
	  width: 100%; /* Full width */
		padding-top: 16px; /* controls padding of nav from top */
		padding-bottom: 5px;
		/* border-bottom: 1px solid black; */
	}
}


.nav-header {
	flex: 1;
	align-items: left;
	display: inline-block;
	padding-left: 10px;
	padding-right: 10px;
	text-align: center;
}


.nav-brand {
	display: inline-block;
	font-size: 0.9em;
  color: #333;
	text-align: center;
}
nav-brand:hover,
nav-brand:focus {
  color: #238ddb;
  background-color: transparent;
	text-decoration: none !important;
}
.nav-brand-large {
	font-size: 1em !important;
}

.nav-brand-small {
	font-weight: bold;
}

.nav-list {
	margin: 0;
	flex: 1;
  display: inline-block;
  float: none;
  vertical-align: top;
	background-color: #fffcfc;
}

.nav-list > a {
	font-weight: bold;
	font-size: 0.9em;
  color: #333;
	display: inline-block;
	padding-left: 10px;
	padding-right: 10px;
}

.nav-header a:hover,
.nav-header a:focus,
.nav-list a:hover,
.nav-list a:focus,
.nav-left a:hover,
.nav-left a:focus,
.nav-right a:hover,
.nav-right a:focus {
  color: #238ddb;
	background-color: transparent;
	text-decoration: none !important;
}

.nav-left {
	text-align: left;
	color: #333;
	padding-left: 20px;
}
.nav-middle {
	margin: auto;
	text-align: center;
	color: #333;
}
.nav-right {
	font-size: 1em !important;
	text-align: right;
	padding-right: 10px;
}
/* @media only screen and (min-width: 768px) { */
	.nav-right > a {
		text-align: right;
		color: #333;
	}
/* } */
/* @media only screen and (max-width: 767px) { */
	/* .nav-right > a {
		display:none;
		text-align: right;
		color: #333;
	} */
/* } */


.navbar-current-page {
	color: #238ddb !important;
}

.header-container {
	display: inline-block;
	padding-bottom: 20px;
	width: 100%;
	/*text-align: center;*/
}
.header-container-about {
	display: inline-block;
	height: 73px;
	/* height: 88px; */
	padding-bottom: 0px;
	margin-bottom: 0px;
	width: 100%;
}

.normal-link {
	color: #238ddb;
}
.normal-link:hover {
	color: #238ddb;
	background-size: 1px 1em;
  box-shadow:
    /* inset 0 -0.175em white, */
		/* inset 0 -0.218em #238ddb; */
    inset 0 -0.100em white,
    inset 0 -0.150em #238ddb;
    /* inset 0 -0.2em #000; */
  display: inline;
	text-decoration: none !important;
}

.image-block {
	/* display: inline-block; */
	display: block;
	vertical-align: middle;
	margin-left: auto;
	margin-right: auto;
	position:relative;
	padding-bottom: 0px;
	padding-top: 0px;
}

.header-index-block {
	display: inline-block;
	vertical-align: middle;
	/* text-align: center; */
	/* padding-right: 33px; */
	/* padding-left: 33px; */
}

.header-standard-block {
	/*margin-left: 8px;*/
	/*text-align: center;*/
	/* display: inline-block; */
	vertical-align: middle;
}

.subheader {
	width: 100%;
	font-size: 1.25em;
	font-weight: 100;
	/* color: #a2a7ad; */
	color: #00a04a;
	/* color: #448e66; */
}
.index-subheader {
	flex: 1;
	/* width: 100%; */
	font-size: 1.25em;
	/* font-size: 1.45em; */
	font-weight: 100;
	/* color: #a2a7ad; */
	color: #00a04a;
	/* color: #333; */
}

.portrait {
	width: 101%;
  max-width: 800px;
  border-radius: 10px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.portrait-1:hover {
	width: 101%;
  max-width: 800px;
  border-radius: 10px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.text-content {
	/* font-family: "Roboto Slab", serif; */
	font-family: "Assistant", serif;
	/* font-family: "Roboto", serif; */
	/* font-family: "Open Sans", sans-serif; */
	font-weight: 100;
	font-size: 1.4em;
	line-height: 2.05;
	padding-top: 0px;
	/* display: inline-block; */
	width:100%;
}

.text-content-index {
	line-height: 1.4;
}
.text-content-about {
  height: 0px;
  /* border: 3px solid green; */
	line-height: 1.4;
  display: inline-block;
  vertical-align: middle;
}
.text-content-portfolio {
	line-height: 1.4;
}
.text-content-contact {
	line-height: 1.4;
}

.text-content-block {
	margin-top: 0px;
	padding-top: 0px;
	margin-bottom: 0px;
	padding-bottom: 0px;
	display:inline-block;
}
.text-content-block-nested {
	margin-top: 0px;
	padding-top: 0px;
	margin-bottom: 0px;
	padding-bottom: 0px;
	display:inline-block;
	font-size:1em;
}
.text-content-block-nested-bottom {
	margin-top: 0px;
	padding-top: 0px;
	margin-bottom: 0px;
	padding-bottom: 0px;
	display:inline-block;
	font-size:1em;
	padding-bottom:20px;"
}

.text-content-block-small {
	margin-top: 0px;
	padding-top: 0px;
	padding-bottom: 3px;
	display:inline-block;
}
.text-content-block-small-nested {
	margin-top: 0px;
	padding-top: 0px;
	margin-bottom: 0px;
	padding-bottom: 0px;
	display:inline-block;
	font-size:1em;
}

.padded-paragraph {
	padding-bottom: 28px;
	margin: 0;
}
.padded-paragraph-small-first { /* font size defaults to a smaller size for some reason*/
	/* padding-bottom: 5px; */
	margin-top:10px;
}
.padded-paragraph-small { /* font size defaults to a smaller size for some reason*/
	padding-top: 5px;
	margin-bottom: 5px;
}
.padded-paragraph {
	padding-bottom: 28px;
}
.padded-paragraph-small-last {
	padding-bottom: 25px;
}

.portfolio-header {
	font-family: "Open Sans", sans-serif;
	font-size: 1em;
	font-weight: 300;
	padding-top: 0px;
	padding-bottom: 10px;
	margin-bottom: 0px;
}

.portfolio-item-description {
	font-size: 1em;
	/* margin-left: 10px; */
	/* margin-left: 40px; */
}

.portfolio-list {
	/*font-size: 1.22em;*/
	/*margin-left: 100px;*/
	/*padding-left: 100px;*/
}

.portfolio-ul-div {
	/* padding-top:3px; */
	padding-bottom:18px;
}

.portfolio-ul {
  list-style: none; /* Remove default bullets */
}

.portfolio-ul li::before {
  /*content: "\25cb";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: #686868;
  opacity: 0.33;
  font-size:1.25em;
  font-weight: bold;
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Also needed for space (tweak if needed) */
}

.portfolio-ul li {
	padding-top:5px;
	/* padding-top:6px; */
}


.contact-info {
	/* text-align: center; */
	/* margin-top: 0; */
}

.contact-list {
	display: flex;
	justify-content: center;
  align-items: center;
}

.contact-list-site {
	font-size: 1.2em;
	margin-left: 10px;
	margin-right: 10px;
}

.container {
	/*margin-left: 10px;*/
	/*margin-right: 10px;*/
	/* max-height: 100px; */
}

.col-sm-4 {
	padding-right: 3%;
}

.col-md-8 {
	/*margin-left: 10%;
	margin-right: 10%;*/
	/*margin: 0 auto;*/
}

body {
	font-family: 'Open Sans', sans-serif;
	line-height: 2.3em;
	-webkit-transition-delay: 0.2s; /* Safari */
  transition-delay: 0.2s;
	/*background-color: #fffcfc;*/
}
