.header-container {
	height: 170px;
	padding-top: 10px;
}

.image-block {
	display: inline-block;
	vertical-align: middle;
	width: 140px;
	margin-right: 25px;
	margin-left: 20px;
	/*padding-bottom: 20px;*/
}

.portrait {
	border-radius: 50%; 
	width:9.7em;
}

.header-index-block {
	display: inline-block;
	vertical-align: middle;
}

.header-standard-block {
	margin-left: 8px;
	/*text-align: right;*/
	display: inline-block;
	vertical-align: middle;
}

.text-content {
	padding-top: 10px;
}

.portfolio-list {
	padding-left: 25px;
}

body {
	font-family: 'Merriweather', serif;
	line-height: 2.5em;
}