.ReactModal__Overlay {
    opacity: 0;
    transition: opacity 200ms ease-in-out;
}

.ReactModal__Overlay--after-open{
    opacity: 1;
}

.ReactModal__Overlay--before-close{
    opacity: 0;
}

.about-header {
  font-size: 4em;
}

.about-subheader {
  font-size: 1em;
  color: grey;
}

.about-content {
  font-size: 0.8em;
  text-align: left;
}
.about-subcontent {
  padding-bottom: 20px;
}

a:hover {
  color: #238ddb;
}
