body {
  font-size: 1.082em;
  font-weight: 300;
  text-align: center;
  font-family: -apple-system,
                system-ui,
                BlinkMacSystemFont,
                "Segoe UI",
                Roboto,
                Oxygen-Sans,
                Ubuntu,
                Cantarell,
                "Helvetica Neue",
                sans-serif;
  background-color: #f7f7f7;
  /* background-color: #fffcfc; */
}

body > #root {
  height: 100vh; /* fixes the issue of rows not spacing evenly with bootstrap */
}

.link {
  color: #238ddb;
  text-decoration: 'none' !important;
}

a {
  color: #238ddb;
  text-decoration: 'none' !important;
}

.container-fluid {
  padding-top: 45px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.text-input {
  height: 75px;
  font-size: 1.4em;
  border:1px solid black;
  border-radius: 0.3em;
  width: 100% !important;
  font-weight: 300;
  padding-left: 3%;
  padding-right: 3%;
  background-color: white;
}

.text-input:focus {
  outline: none !important;
}
