body {
  font-size: 2em;
}

body > #root {
  height: 100vh; /* fixes the issue of rows not spacing evenly with bootstrap */
}

.container-fluid {
  display: flex;
  flex-direction: column;
  height: 100%;
}


.input-container {
  text-align: center;
}

.input-block {
  flex: 3;
  width: 60%;
  display: inline-block;
}

.button-block {
  flex: 1;
  width: 33%;
  display: inline-block;
  text-align: left;
}

.text-input {
  width: 100% !important;
}
